<!DOCTYPE html>
<html>
  <head>
    <title>Mod2project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
    <h3><%= flash[:notice]%></h3>
    <% end %>
    <% if current_user %>
    <h2> Hello, <%= current_user.name%>!</h2>
    <%= link_to "Logout", sessions_path, method: :delete%>
    <% else%>
    <%= link_to "Login", new_session_path%>
    <% end %>

    <%= yield %>
  </body>
</html>
